<div class=" shadow-2 border-round px-4 py-5 md:px-6 lg:px-8">
    <div class="grid ">
        <!-- Productos -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-2">
                    <div>
                        <span class="block text-500 font-bold mb-3">Productos</span>
                        <div class="text-900 font-semibold text-xl">{{ totalProductos }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        style="width:3rem;height:3rem">
                        <i class="pi pi-box text-blue-500 text-4xl"></i>
                    </div>
                </div>
                <!-- Footer con "Ver Detalles" -->
                <div class="border-top-1 surface-border pt-1 text-center">
                    <p-button label="Ver Detalles" [text]="true" [plain]="true" icon="pi pi-angle-right"
                        class=" w-full font-bold" size="small" [style]="{ color: '#5d6d7e' }"></p-button>
                </div>
            </div>
        </div>

        <!-- Categorías -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-2">
                    <div>
                        <span class="block text-500 font-bold mb-3">Categorías</span>
                        <div class="text-900 font-semibold text-xl">{{ totalCategorias }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-pink-100 border-round"
                        style="width:3rem;height:3rem">
                        <i class="pi pi-tags text-pink-500 text-4xl"></i>
                    </div>
                </div>
                <div class="border-top-1 surface-border pt-1 text-center">
                    <p-button label="Ver Detalles" [text]="true" [plain]="true" icon="pi pi-angle-right"
                        class="font-bold w-full" size="small" [style]="{ color: '#5d6d7e' }"></p-button>
                </div>
            </div>
        </div>

        <!-- Usuarios -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-2">
                    <div>
                        <span class="block text-500 font-bold mb-3">Usuarios</span>
                        <div class="text-900 font-semibold text-xl">{{ 13 }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                        style="width:3rem;height:3rem">
                        <i class="pi pi-user text-green-500 text-4xl"></i>
                    </div>
                </div>
                <div class="border-top-1 surface-border pt-1 text-center">
                    <p-button label="Ver Detalles" [text]="true" [plain]="true" icon="pi pi-angle-right"
                        class="font-bold w-full" size="small" [style]="{ color: '#5d6d7e' }"></p-button>
                </div>
            </div>
        </div>

        <!-- Clientes -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-2">
                    <div>
                        <span class="block text-500 font-bold mb-3">Clientes</span>
                        <div class="text-900 font-semibold text-xl">{{ totalClientes }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        style="width:3rem;height:3rem">
                        <i class="pi pi-users text-cyan-500 text-4xl"></i>
                    </div>
                </div>
                <div class="border-top-1 surface-border pt-1 text-center">
                    <p-button label="Ver Detalles" [text]="true" [plain]="true" icon="pi pi-angle-right"
                        class="font-bold w-full" size="small" [style]="{ color: '#5d6d7e' }"></p-button>
                </div>
            </div>
        </div>

        <!-- Ventas del Día -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-2">
                    <div>
                        <span class="block text-500 font-bold mb-3">Ventas del Día</span>
                        <div class="text-900 font-semibold text-xl">{{ 15 }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        style="width:3rem;height:3rem">
                        <i class="pi pi-dollar text-orange-500 text-4xl"></i>
                    </div>
                </div>
                <div class="border-top-1 surface-border pt-1 text-center">
                    <p-button label="Ver Detalles" [text]="true" [plain]="true" icon="pi pi-angle-right"
                        class="font-bold w-full" size="small" [style]="{ color: '#5d6d7e' }"></p-button>
                </div>
            </div>
        </div>

        <!-- Marcas -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-2">
                    <div>
                        <span class="block text-500 font-bold mb-3">Marcas</span>
                        <div class="text-900 font-semibold text-xl">{{ 10 }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                        style="width:3rem;height:3rem">
                        <i class="pi pi-briefcase text-purple-500 text-4xl"></i>
                    </div>
                </div>
                <div class="border-top-1 surface-border pt-1 text-center">
                    <p-button label="Ver Detalles" [text]="true" [plain]="true" icon="pi pi-angle-right"
                        class="font-bold w-full" size="small" [style]="{ color: '#5d6d7e' }"></p-button>
                </div>
            </div>
        </div>

        <!-- Marcas -->
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-2">
                    <div>
                        <span class="block text-500 font-bold mb-3">Marcas</span>
                        <div class="text-900 font-semibold text-xl">{{ 10 }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                        style="width:3rem;height:3rem">
                        <i class="pi pi-briefcase text-purple-500 text-4xl"></i>
                    </div>
                </div>
                <div class="border-top-1 surface-border pt-1 text-center">
                    <p-button label="Ver Detalles" [text]="true" [plain]="true" icon="pi pi-angle-right"
                        class="font-bold w-full" size="small" [style]="{ color: '#5d6d7e' }"></p-button>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="grid mt-2 h-30rem">
    <div class="col-12 md:col-6 lg:col-8">
        <div class="surface-card shadow-2 border-round  mt-3 p-2">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class="surface-card shadow-2 border-round mt-3 p-2 ">
            <p-chart type="pie" [data]="pieData"></p-chart>
        </div>
    </div>
</div>