<p-dialog [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    header="{{ productoId != 0 ? 'Editar Producto' : 'Nuevo Producto' }}" [(visible)]="dialog" [modal]="true"
    [style]="{ width: '40vw' }" (onHide)="closeModal()" [draggable]="false" styleClass="p-fluid ">

    <form [formGroup]="productoForm" (ngSubmit)="saveCategoria()">
        <div class="formgrid grid">
            <div class="col-12 md:col-6 lg:col-6">
                <div class="formgrid grid">
                    <div class="col-12 md:col-12 lg:col-12">
                        <div class="field">
                            <label for="lastname1">Descripción</label>
                            <textarea id="descripcion" pInputText placeholder="Ingrese descripcion" type="text"
                                formControlName="descripcion" class="mb-1" rows="3"> </textarea>
                            <div *ngIf="productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched"
                                class="text-red-500">
                                <small *ngIf="productoForm.get('descripcion')?.hasError('required')">La descripcion es
                                    requerido.</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-12">
                        <div class="field">
                            <label for="nombre">Categoria</label>
                            <p-dropdown [options]="listCategoria" optionLabel="nombre" [filter]="true" filterBy="nombre"
                                [showClear]="true" placeholder="[Seleccione Categoria]" formControlName="idCategoria"
                                optionValue="id" class="mb-1">

                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ selectedOption.nombre }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-categoria pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ categoria.nombre }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>

                            <div *ngIf="productoForm.get('idCategoria')?.invalid && productoForm.get('idCategoria')?.touched"
                                class="text-red-500">
                                <small *ngIf="productoForm.get('idCategoria')?.hasError('required')">
                                    La categoría es obligatoria.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 lg:col-12">
                        <div class="field">
                            <label for="marca">Marca</label>
                            <input id="marca" pInputText type="text" placeholder="Ingrese Marca" formControlName="marca"
                                class="mb-1">

                            <div *ngIf="productoForm.get('marca')?.invalid && productoForm.get('marca')?.touched"
                                class="text-red-500">
                                <small *ngIf="productoForm.get('marca')?.hasError('required')">La marca es
                                    requerido.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">

                <img class="block m-auto shadow-8 mb-2 p-1 border-round" [src]="photoSelected ||'subir2.png'"
                    width="220px" height="220px" />

                <div class="field">
                    <input type="file" accept=".png, .jpg, .jpeg" #fileInput (change)="onPhotoSelected($event)"
                        style="display: none;">
                    <div *ngIf="productoId ==0">
                        <div class="flex justify-content-center">
                            <p-button label="Seleccionar Imagen" [text]="true" severity="info" icon="pi pi-upload"
                                (click)="fileInput.click()" class="w-8" />
                        </div>
                    </div>
                    <div *ngIf="photoError" class="text-red-500">
                        <small>El archivo debe ser una imagen válida (PNG, JPG, JPEG).</small>
                    </div>
                </div>

            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="field">
                    <label for="precio">Precio</label>
                    <p-inputNumber placeholder="Ingrese Precio" inputId="currency-pen" mode="currency" currency="PEN"
                        locale="es-PE" formControlName="precio" />

                    <div *ngIf="productoForm.get('precio')?.invalid && productoForm.get('precio')?.touched"
                        class="text-red-500">
                        <small *ngIf="productoForm.get('precio')?.hasError('required')">El precio es
                            requerido.</small>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="field">
                    <label for="stock">Stock</label>
                    <p-inputNumber placeholder="Ingrese Stock" inputId="minmax" [min]="1" [max]="50"
                        formControlName="stock" />

                    <div *ngIf="productoForm.get('stock')?.invalid && productoForm.get('stock')?.touched"
                        class="text-red-500">
                        <small *ngIf="productoForm.get('stock')?.hasError('required')">El stock es
                            requerido.</small>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="field">
                    <label for="stock">Descuento</label>
                    <p-inputNumber placeholder="Ingrese Descuento" inputId="minmax" [min]="0" [max]="50"
                        formControlName="descuento" />

                    <div *ngIf="productoForm.get('descuento')?.invalid && productoForm.get('descuento')?.touched"
                        class="text-red-500">
                        <small *ngIf="productoForm.get('descuento')?.hasError('required')">El descuento es
                            requerido.</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-content-end mt-5">
            <p-button size="small" label="Cancelar" icon="pi pi-times" class="p-button-text mx-2"
                (click)="closeModal()" />
            <p-button size="small" label="Guardar" icon="pi pi-check" type="submit" severity="success" />
        </div>
    </form>
</p-dialog>