<div class="px-4 py-4 mt-2 mb-2 md:px-6 lg:px-4 surface-card shadow-2 border-round ">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
        <li>
            <a class="text-500 no-underline line-height-3 cursor-pointer">Inventario</a>
        </li>
        <li class="px-2">
            <i class="pi pi-angle-right text-500 line-height-3"></i>
        </li>
        <li>
            <span class="text-900 line-height-3">Categoria</span>
        </li>
    </ul>
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
        <div class="font-medium text-3xl text-900">Categorias</div>

        <div class="mt-3 lg:mt-0">
            <button pButton pRipple (click)="openDialog()" label="Add" class="p-button-outlined mr-2"
                icon="pi pi-user-plus"></button>
            <button pButton pRipple label="Save" icon="pi pi-check"></button>
        </div>
    </div>
</div>

<div class="surface-card shadow-2 border-round p-2">
    <app-skeleton *ngIf="isLoading"></app-skeleton>

    <p-table *ngIf="!isLoading" [value]="dataCategoria" [lazy]="true" [paginator]="true" [rows]="categoriaFilter.size"
        [showCurrentPageReport]="true" styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]" [totalRecords]="totalElements" [rowHover]="true"
        (onLazyLoad)="onLazyLoad($event)">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="min-width:7rem">
                    <p-sortIcon field="id" /> Id
                </th>
                <th pSortableColumn="nombre" style="min-width:10rem">
                    Nombre <p-sortIcon field="nombre" />
                </th>
                <th pSortableColumn="descripcion" style="min-width:10rem">
                    Descripcion <p-sortIcon field="descripcion" />
                </th>
                <th style="min-width:6rem">
                    Imagen
                </th>
                <th style="min-width:7rem">State</th>
                <th style="min-width:10rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoria>
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.descripcion }}</td>
                <td>
                    <img [src]="categoria.nimagen?urlCategoria + categoria.nimagen : 'nada2.png'" width="50" height="42"
                        (error)="onImageError($event)" class="shadow-4" />
                </td>
                <td>
                    <p-tag *ngIf="categoria.state" [rounded]="true" severity="success" value="Activo" />
                    <p-tag *ngIf="!categoria.state" [rounded]="true" severity="danger" value="Inactivo" />
                </td>
                <td>
                    <p-button icon="pi pi-pencil" (onClick)="openDialog(categoria)" [raised]="true" class="mr-2"
                        [rounded]="true" severity="info" />
                    <p-button icon="pi pi-image" (onClick)="openDialogPhoto(categoria)" [raised]="true" severity="help"
                        class="mr-2" [rounded]="true" />
                    <p-button icon="pi pi-sync" [raised]="true" (onClick)="onStateChange(categoria.id)" [raised]="true"
                        severity="danger" class="mr-2" [rounded]="true" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-categoria-modal [dialog]="displayDialog" (dialogChange)="displayDialog = $event" (refreshList)="loadCategorias()"
    [(categoriaId)]="idCategoriaModal" />

<app-modal-photo [dialog]="displayDialogPhoto" (dialogChange)="displayDialogPhoto = $event"
    (refreshList)="loadCategorias()" [(categoriaId)]="idCategoriaPhotoModal" />